<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
  <div class="container-fluid">
      <div class="page-header-content">
          <div class="row align-items-center justify-content-between pt-3">
              <div class="col-auto mb-3">
                  <h1 class="page-header-title">
                      <div class="page-header-icon"><i data-feather="file"></i></div>
                      Add record in {{ list.name }}
                  </h1>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                  <button class="btn btn-primary py-2" id="add-record">Save Record</button>
              </div>
          </div>
      </div>
  </div>
</header>
<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <div class="sbp-preview-content">
        <form id="record-form">{% csrf_token %}
            {% for field in list.fields%}
              {% if field.fieldType == 'text' %}
                <div class="form-group">
                  <label for="field_{{ field.id }}">{{ field.fieldLabel }}{% if field.required %}*{% endif %}</label>
                  <input class="form-control form-control-solid record-field" id="field_{{ field.id }}" type="text" placeholder="Input response here">
                </div>
              {% elif field.fieldType == 'long-text' %}
                <div class="form-group">
                  <label for="field_{{ field.id }}">{{ field.fieldLabel }}</label>
                  <textarea class="form-control form-control-solid record-field" id="field_{{ field.id }}" rows="3" placeholder="Input response here"></textarea>
                </div>
              {% endif %}
            {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>
