{% extends "home/base.html" %}
{% load static %}

{% block title %}
    OneTable - {{ app.name }}
{% endblock %}

{% block headername %}
  {{ app.name }}
{% endblock %}

{% block topbar %}
  {% include "home/app-header.html" %}
{% endblock %}

{% block content %}

{% include 'home/dashboard.html' %}

{% endblock %}

{% block extrajs %}
<script>

  // Activity page
  (function($) {
    $('#dashboard').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'dashboard' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data.html);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

  // Tasks page
  (function($) {
    $('#tasks').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'tasks' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data.html);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

  // Notes page
  (function($) {
    $('#notes').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'notes' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data.html);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

  (function($) {
    $('#addMenu').on('click', function(e) {
        e.preventDefault();
        // Show the input box
        $('#addMenuInput').removeClass('d-none')
    });
  }(jQuery));

  (function($) {
    $('#saveMenu').on('click', function(e) {
        e.preventDefault();
        // Show the input box

        // Get form fields
        var menu_name = $('input[name=menuName]').val();

        // Validate form fields
        if (menu_name != "") {
          // Send in the request
          var formData = {
              'menu_name': menu_name,
              'csrfmiddlewaretoken': window.CSRF_TOKEN
          };

          // process the form
          $.ajax({
              type: "POST",
              url: "{% url 'add_menu' organization_pk=organization.pk app_pk=app.pk %}",
              data: formData,
              dataType: "json",
              encode: true
          }).done(function(data) {

              console.log(data)
              $('#menu-lists').html(data['html_from_view'])
              $('#menuName').val("")

          }).fail(function(xhr, status, error) {
            //Ajax request failed.
            var errorMessage = xhr.status + ': ' + xhr.statusText
            alert('Error - ' + errorMessage);

          });

          return false;

       } else {

         // The user provided an empty value, show form error
       }
    });
  }(jQuery));


  /* Menu links */
  $(document).ready(function(){
    $('body').on('click','.menu-link',function(e){
      e.preventDefault();

      menu_id = e.target.id.replace("menu_", "")

      $.ajax({
        type: "POST",
        url: "{% url 'lists' organization_pk=organization.pk app_pk=app.pk %}",
          data: {
              'menu_id': menu_id,
              'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
          },
          success: function(data) {
              // append html to the posts div
              $('#main-content').html(data['html_from_view']);
          },
          error: function(xhr, status, error) {
              // shit happens friends!
          }
      });
    });
  });


</script>
{% endblock %}
