{% load static %}

{% if organization.pk %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'organizations' %}">Organizations</a>
</li>
{% endif %}

{% if app.pk %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'apps' organization_pk=organization.pk %}">Apps</a>
</li>
{% endif %}

{% if user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
</li>
{% else %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
{% endif %}
