{% if apps %}
<div class="row">
  {% for app in apps %}
    <div class="col-lg-4 mb-4">
      <!-- Knowledge base category card 1-->
      <a class="card lift lift-sm h-100" href="{% url 'app_details' organization_pk=organization.pk app_pk=app.pk %}">
          <div class="card-body py-5">
              <h5 class="card-title text-primary mb-2">
                  {{ app.name }}
              </h5>
              <p class="card-text">This is a quick description about this workspace, if one exists</p>
          </div>
          <div class="card-footer"><div class="small text-muted">3 users in this workspace</div></div>
      </a>
    </div>
  {% endfor %}
</div>
{% endif %}
