{% extends "home/base.html" %}
{% load static %}

{% block title %}
    OneTable - My Apps
{% endblock %}

{% block topbar %}
  {% include "home/app-header.html" %}
{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="col-12-lg">
    <h1>Apps for {{ organization.name }}</h1>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12-lg">
    <a class="btn btn-lg btn-primary font-weight-500" href="{% url 'add_app' organization_pk=organization.pk %}">
      Add App
    </a>
  </div>
</div>
<div id="apps-list">
  {% include "home/apps-list.html" %}
</div>

{% endblock %}
