{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
          {% block title %}
              OneTable
          {% endblock %}
        </title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'downloaded/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
        <link href="{% static 'downloaded/daterangepicker.css' %}" rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
        <script data-search-pseudo-elements defer src="{% static 'downloaded/font-awesome/5.15.1/js/all.min.js' %}"></script>
        <script src="{% static 'downloaded/feather-icons/4.28.0/feather.min.js' %}"></script>

        <script type="text/javascript">
          // A CSRF token is required when making post requests in Django
          // To be used for making AJAX requests in script.js
          window.CSRF_TOKEN = "{{ csrf_token }}";
        </script>

    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
            <!-- Navbar Brand-->
            <!-- * * Tip * * You can use text or an image for your navbar brand.-->
            <!-- * * * * * * When using an image, we recommend the SVG format.-->
            <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
            <a class="navbar-brand" href="index.html">
              {% block headername %}
                OneTable
              {% endblock %}
            </a>
            <!-- Sidenav Toggle Button-->
            {% if app.pk %}
            <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle"><i data-feather="menu"></i></button>
            {% endif %}
            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ml-auto">
                <!-- Organization Dropdown-->
                {% if organization.pk %}
                <li class="nav-item no-caret d-none d-sm-block mr-3">
                    <a class="nav-link dropdown-toggle" href="{% url 'organizations' %}" role="button" aria-haspopup="false" aria-expanded="false">
                        <div class="font-weight-500">Organizations</div>
                    </a>
                </li>
                {% endif %}
                {% if app.pk %}
                <li class="nav-item no-caret d-none d-sm-block mr-3">
                    <a class="nav-link dropdown-toggle" href="{% url 'apps' organization_pk=organization.pk %}" role="button" aria-haspopup="false" aria-expanded="false">
                        <div class="font-weight-500">Apps</div>
                    </a>
                </li>
                {% endif %}
                <!-- User Dropdown-->
                {% if user.is_authenticated %}

                <li class="nav-item no-caret d-none d-sm-block mr-3">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="font-weight-500">My Account</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">{{ user.username }}</div>
                                <div class="dropdown-user-details-email">{{ user.email }}</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Logout
                        </a>
                    </div>
                </li>
                {% else %}
                <a class="btn btn-primary p-2" href="{% url 'login' %}">Log In</a>
                {% endif %}


            </ul>
        </nav>
        {% if app.pk %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <!-- Sidenav Menu Heading (Core)-->
                            <div class="sidenav-menu-heading">Activity</div>
                            <!-- Sidenav Accordion (Dashboard)-->
                            <a class="nav-link" id="dashboard" href="javascript:void(0);">
                                <div class="nav-link-icon"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" id="tasks" href="javascript:void(0);">
                                <div class="nav-link-icon"></i></div>
                                Tasks
                            </a>
                            <a class="nav-link" id="notes" href="javascript:void(0);">
                                <div class="nav-link-icon"></i></div>
                                Notes
                            </a>
                            <a class="nav-link" id="lists" href="javascript:void(0);">
                                <div class="nav-link-icon"></i></div>
                                Lists
                            </a>
                            <!--
                            <div class="sidenav-menu-heading">
                              Folders
                            </div>
                            <div id="menu-lists">
                              {% include 'home/menu-list.html' %}
                            </div>
                            <div class="d-none" id="addMenuInput">
                              <div class="form-group">
                                <input class="form-control form-control-solid" id="menuName" name="menuName" type="email" placeholder="Menu name">
                                <button class="btn btn-link my-1" id="addMenuClose" type="button">Close</button>
                                <button class="btn btn-link my-1" id="addMenuAdd" type="button">Add</button>
                              </div>
                            </div>
                            <a class="ml-4 mt-2" href="javascript:void(0);" id="addMenu">
                                <div class="nav-link-icon"></i></div>
                                Add folder
                            </a> -->
                        </div>
                    </div>
                    <!-- Sidenav Footer-->
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Logged in as:</div>
                            <div class="sidenav-footer-title">Valerie Luna</div>
                        </div>
                    </div>
                </nav>
            </div>
            {% endif %}
            <div id="layoutSidenav_content">
                <main>
                  <div id="main-content">
                    {% block content %}

                    {% endblock %}
                  </div>
                </main>
            </div>
        </div>
        <script src="{% static 'downloaded/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'downloaded/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'downloaded/Chart.js/2.9.4/Chart.min.js' %}"></script>
        <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script src="{% static 'downloaded/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'downloaded/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'assets/demo/datatables-demo.js' %}"></script>
        <script src="{% static 'downloaded/moment.min.js '%}"></script>
        <script src="{% static 'downloaded/daterangepicker.min.js' %}"></script>
        <script src="{% static 'assets/demo/date-range-picker-demo.js' %}"></script>

        {% block extrajs %}

        {% endblock %}

    </body>
</html>
