{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>

            {% block title %}{% endblock %}
            {% block title_suffix %}{% endblock %}

        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets and js #}
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" type="image/x-icon" href="#" />


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script type="text/javascript">
          // A CSRF token is required when making post requests in Django
          // To be used for making AJAX requests in script.js
          window.CSRF_TOKEN = "{{ csrf_token }}";
        </script>

    </head>

    <body class="{% block body_class %}{% endblock %}">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            {% block headername %}
              OneTable
            {% endblock %}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              {% block topbar %}{% endblock %}
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">

        {% block content %}{% endblock %}

      </div>

      <!-- Start footer -->
      {% block footer %}{% endblock %}
      <!-- End footer content -->

        {# Global javascript #}
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
