{% load static %}
<header class="page-header page-header-light page-header-light border-bottom bg-white mb-4">
  <div class="container">
      <div class="page-header-content pt-4">
          <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  Create a list
                </h1>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Main page content-->
<div class="container">
  <form class="form-horizontal" id="form-container" method="POST" action="">
    {% csrf_token %}
    <div class="card card-header-actions form-row mb-3">
      <div class="card-body">
        <div class="row mb-3 mt-3">
          <div class="col-12">
              <div class="input-group">
                  {{listform.name}}
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="card card-header-actions field-form" mb-3">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-6">
                <div class="input-group">
                    {{ form.field_label }}
                    {{ form.field_label.errors }}
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                    {{ form.field_type }}
                    {{ form.field_type.errors }}
                </div>
            </div>
            
            <div class="row mt-3">
              <div class="col-6">
                  <div class="form-group form-check ml-3">
                      <div class="row">
                        <div class="col-12">
                          {{ form.required.errors }}
                          {{ form.required }}
                          <label class="form-check-label" for="id_form-{{ forloop.counter0 }}-required">Required</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          {{ form.visible.errors }}
                          {{ form.visible }}
                          <label class="form-check-label" for="id_form-{{ forloop.counter0 }}-required">Visible</label>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-6">
                <div class="form-group form-check">

                </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    <button class="btn btn-success" id="add-form">Add Another Field</button>
    <div class="row mt-3">
      <div class="col-12">

      </div>
    </div>
    <div class="col-4 mt-3">
        <button type="submit" class="btn btn-block btn-primary">Create</button>
    </div>

    </form>
</div>

<!-- Include JS here that does not need template tags -->

<!-- Include JS here that needs template tags -->
<script>

  $(document).ready(() => {

    const fieldForm = document.querySelectorAll(".field-form")
    const container = document.querySelector("#form-container")
    const addButton = document.querySelector("#add-form")
    const totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = fieldForm.length-1
    addButton.addEventListener('click', (e) => {
      e.preventDefault()

      const newForm = fieldForm[0].cloneNode(true)
      const formRegex = RegExp(`form-(\\d){1}-`,'g')

      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
      container.insertBefore(newForm, addButton)

      totalForms.setAttribute('value', `${formNum+1}`)
    })

  })
</script>
