<header class="page-header page-header-light bg-white pb-10">
  <div class="container">
      <div class="page-header-content pt-4">
          <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                  <h1 class="page-header-title">
                    Records for {{ list.name }}
                  </h1>
                  <a href="{% url 'organizations' %}"><div class="page-header-subtitle"><i data-feather="arrow-left" class="page-header-subtitle"></i> Back to list</div></a>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                <a class="" href="#">
                  <div class="page-header-subtitle"><a href="">Add new record</a></div>
                </a>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Main page content-->
<div class="container bg-white mt-n10">
  <div id="records-list">
    {% include "home/records-list.html" %}
  </div>
</div>


{% endblock %}
