{% extends "home/base.html" %}
{% load static %}

{% block title %}
    OneTable - {{ app.name }}
{% endblock %}

{% block headername %}
  {{ app.name }}
{% endblock %}

{% block topbar %}
  {% include "home/app-header.html" %}
{% endblock %}

{% block content %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
  <div class="container-fluid">
      <div class="page-header-content">
          <div class="row align-items-center justify-content-between pt-3">
              <div class="col-auto mb-3">
                  <h1 class="page-header-title">
                      <div class="page-header-icon"><i data-feather="file"></i></div>
                      Create a List
                  </h1>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                <a class="btn btn-primary p-2" id="saveList" href="#!">Save List</a>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Main page content-->
<div class="container">

  <div id="list">



  </div>

  <div class="card">
    <div class="card-header">
      <div class="col-12 col-xl-auto mb-3">
        <a class="btn btn-primary p-2" id="add-field" href="#!">Add</a>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-lg-8">
            <div class="form-group">
              <label for="field-label">Field Label</label>
              <input class="form-control" id="field-label" type="text" placeholder="Field label">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
                <label for="field-type">Field type</label>
                <select class="form-control" id="field-type" placeholder="Select option">
                    <option value="" selected disabled hidden>Select one</option>
                    <option value="text">Text</option>
                    <option value="long-text">Long Text</option>
                    <option value="number">Number</option>
                    <option value="decimal">Decimal</option>
                    <option value="select-one-option">Select One Option</option>
                    <option value="select-multiple-option">Select Multiple Options</option>
                    <option value="select-one-list">Select One List</option>
                    <option value="select-multiple-lists">Select Multiple Lists</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="custom-control custom-checkbox custom-control-solid">
              <input class="custom-control-input" id="required" type="checkbox" name="required">
              <label class="custom-control-label" for="required">Required</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-solid">
              <input class="custom-control-input" id="visible" type="checkbox" name="visible">
              <label class="custom-control-label" for="visible">Visible</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}

<script>
  // Notes page
  (function($) {
    $('#saveList').on('click', function(e) {
        e.preventDefault();

        let fields = JSON.parse(localStorage.getItem('fields'))
        for (let i = 0; i < fields.length; i++) {
           field = fields[i]
           console.log(field)
        }

        $.ajax({
          type: "POST",
          dataType: 'json',
          url: "{% url 'save_list' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'fields': JSON.stringify(fields),
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div

            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));
</script>
<script src="{% static 'js/list-create.js' %}"></script>

{% endblock %}
