<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
  <div class="container-fluid">
      <div class="page-header-content">
          <div class="row align-items-center justify-content-between pt-3">
              <div class="col-auto mb-3">
                  <h1 class="page-header-title">
                      <div class="page-header-icon"><i data-feather="file"></i></div>
                      Notes
                  </h1>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                <a class="btn btn-primary p-2" href="#!">Add Note</a>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Main page content-->
<div class="container">
  <div class="card">
      <div class="card-header">Compact Page Header Example</div>
      <div class="card-body">This compact page header example strips down the page header element to create a seamless, slim page header.</div>
  </div>
</div>
