{% if organizations %}
<div class="row">
  {% for organization in organizations %}
    <div class="col-lg-4 mb-4">
      <div class="card card-header-actions lift lift-sm h-100">
          <div class="card-header bg-white">
              <a href="{% url 'apps' organization_pk=organization.pk %}">{{ organization.name }}</a>
              <div class="dropdown no-caret">
                  <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                  <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'organization_settings' organization_pk=organization.pk %}">
                          <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="list"></i></div>
                          Settings
                      </a>
                  </div>
              </div>
          </div>
          <div class="card-body py-5">
              <p class="card-text">{{ organization.description }}</p>
          </div>
          <div class="card-footer bg-white"><div class="small text-muted">3 users in this organization</div></div>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}
