{% if records %}
<div class="row">
  {% for record in records %}
    <div class="col-lg-4 mb-4">
      <div class="card card-header-actions lift lift-sm h-100">
          <div class="card-header bg-white">
              <a href="{% url 'list' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk %}">RECORD</a>
              <div class="dropdown no-caret">
                  <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="text-gray-500" data-feather="more-vertical"></i></button>
                  <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">
                          <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="list"></i></div>
                          Edit Record
                      </a>
                      <a class="dropdown-item" href="#">
                          <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="list"></i></div>
                          Archive Record
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}
