{% extends "home/layouts/layout-fixed-side-bar.html" %}
{% load static %}

{% block title %}
    OneTable - {{ app.name }}
{% endblock %}

{% block headername %}
  {{ app.name }}
{% endblock %}

{% block headerlink %}
  {% url 'apps' organization_pk=organization.pk %}
{% endblock %}

{% block header %}
  {% include 'home/layouts/component-header-workspace.html' %}
{% endblock %}

{% block bodyclass %}
class="bg-white"
{% endblock %}

{% block sidebar %}
  {% include 'home/layouts/component-sidebar-workspace.html' %}
{% endblock %}

{% block content %}

  {% if type == 'dashboard' %}
    {% include 'home/dashboard.html' %}
  {% elif type == 'tasks' %}
    {% include 'home/tasks.html' %}
  {% elif type == 'notes' %}
    {% include 'home/notes.html' %}
  {% elif type == 'lists' %}
    {% include 'home/lists.html' %}
  {% elif type == 'list-create' %}
    {% include 'home/list-create.html' %}
  {% elif type == 'list' %}
    {% include 'home/list.html' %}
  {% elif type == 'add-record' %}
    {% include 'home/add-record.html' %}
  {% else %}
    {# Load default dashboard #}
    {% include 'home/dashboard.html' %}
  {% endif %}

{% endblock %}

{% block extrajs %}
<script>

  // Activity page
  (function($) {
    $('#dashboard').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: "{% url 'dashboard' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data['html_from_view']);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

  // Tasks page
  (function($) {
    $('#tasks').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          type: "GET",
          url: "{% url 'tasks' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data['html_from_view']);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

  // Notes page
  (function($) {
    $('#notes').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          type: "GET",
          url: "{% url 'notes' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data['html_from_view']);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

  // Lists page
  (function($) {
    $('#lists').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          type: "GET",
          url: "{% url 'lists' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data['html_from_view']);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

  // Notes page
  (function($) {
    $('#save_list').on('click', function(e) {
        e.preventDefault();

        let fields = JSON.parse(localStorage.getItem('fields'))
        for (let i = 0; i < fields.length; i++) {
           field = fields[i]
           console.log(field)
        }

        let list_name = $('#list_name').val()

        $.ajax({
          type: "POST",
          dataType: 'json',
          url: "{% url 'save_list' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'list_name': list_name,
                'fields': JSON.stringify(fields),
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div

            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

</script>

<script src="{% static 'js/list-create.js' %}"></script>

{% endblock %}
