{% extends "home/layouts/layout-fixed-side-bar.html" %}
{% load static %}

{% block title %}
    OneTable - {{ app.name }}
{% endblock %}

{% block headername %}
  {{ app.name }}
{% endblock %}

{% block headerlink %}
  {% url 'apps' organization_pk=organization.pk %}
{% endblock %}

{% block header %}
  {% include 'home/layouts/component-header-workspace.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'home/layouts/component-sidebar-workspace.html' %}
{% endblock %}

{% block content %}
  {# Initially load default dashboard #}

{% endblock %}
