{% extends "home/layouts/layout-fixed-side-bar.html" %}
{% load static %}

{% block title %}
    OneTable - {{ app.name }}
{% endblock %}

{% block headername %}
  {{ app.name }}
{% endblock %}

{% block headerlink %}
  {% url 'apps' organization_pk=organization.pk %}
{% endblock %}

{% block header %}
  {% include 'home/layouts/component-header-workspace.html' %}
{% endblock %}

{% block bodyclass %}
class="bg-white"
{% endblock %}

{% block sidebar %}
  {% include 'home/layouts/component-sidebar-workspace.html' %}
{% endblock %}

{% block content %}

  {% if type == 'dashboard' %}
    {% include 'home/dashboard.html' %}
  {% elif type == 'tasks' %}
    {% include 'home/tasks.html' %}
  {% elif type == 'notes' %}
    {% include 'home/notes.html' %}
  {% elif type == 'lists' %}
    {% include 'home/lists.html' %}
  {% elif type == 'list-create' %}
    {% include 'home/list-create.html' %}
  {% elif type == 'edit-list' %}
    {% include 'home/list-create.html' %}
  {% elif type == 'list' %}
    {% include 'home/list.html' %}
  {% elif type == 'add-record' %}
    {% include 'home/record-create.html' %}
  {% elif type == 'record-details' %}
    {% include 'home/record-details.html' %}
  {% elif type == 'edit-record' %}
    {% include 'home/record-create.html' %}
  {% else %}
    {# Load default dashboard #}
    {% include 'home/dashboard.html' %}
  {% endif %}

{% endblock %}

{% block extrajs %}

<script src="{% static 'js/list-create.js' %}"></script>

<script>

  // Activity page
  (function($) {
    $('#dashboard').on('click', function(e) {
        e.preventDefault();

        const url = "{% url 'dashboard' organization_pk=organization.pk app_pk=app.pk %}";
        $.ajax({
            type: "GET",
            url: url,
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data['html_from_view']);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        }).always(()=> {

          window.history.pushState({}, '', url);
        });
    });
  }(jQuery));

  // Tasks page
  (function($) {
    $('#tasks').on('click', function(e) {
        e.preventDefault();

        const url = "{% url 'tasks' organization_pk=organization.pk app_pk=app.pk %}";
        $.ajax({
          type: "GET",
          url: url,
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data['html_from_view']);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        }).always(() => {

          window.history.pushState({}, '', url);
        });
    });
  }(jQuery));

  // Notes page
  (function($) {
    $('#notes').on('click', function(e) {
        e.preventDefault();

        const url = "{% url 'notes' organization_pk=organization.pk app_pk=app.pk %}";
        $.ajax({
          type: "GET",
          url: url,
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data['html_from_view']);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        }).always(() => {

          window.history.pushState({}, '', url);
        });
    });
  }(jQuery));

  // Lists page
  (function($) {
    $('#lists').on('click', function(e) {
        e.preventDefault();

        const url = "{% url 'lists' organization_pk=organization.pk app_pk=app.pk %}";
        $.ajax({
          type: "GET",
          url: url,
            data: {
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#main-content').html(data['html_from_view']);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        }).always(() => {

          window.history.pushState({}, '', url);
        });
    });
  }(jQuery));

  // Save list
  {% if list_id and type == 'edit-list' %}
  // Update a legacy list
  (function($) {
    $('#save_list').on('click', function(e) {
        e.preventDefault();

        let fields = JSON.parse(localStorage.getItem('fields'))
        let added = JSON.parse(localStorage.getItem('added'))
        let removed = JSON.parse(localStorage.getItem('removed'))

        let list_name = $('#list_name').val()

        $.ajax({
          type: "POST",
          dataType: 'json',
          url: "{% url 'update_list' organization_pk=organization.pk app_pk=app.pk list_pk=list_id %}",
            data: {
                'list_name': list_name,
                'fields': JSON.stringify(fields),
                'added': JSON.stringify(added),
                'removed': JSON.stringify(removed),
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {

                console.log(data)

            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));

  {% else %}

  // This is a new list
  (function($) {
    $('#save_list').on('click', function(e) {
        e.preventDefault();

        let fields = JSON.parse(localStorage.getItem('fields'))
        let added = JSON.parse(localStorage.getItem('added'))
        let removed = JSON.parse(localStorage.getItem('removed'))

        let list_name = $('#list_name').val()

        $.ajax({
          type: "POST",
          dataType: 'json',
          url: "{% url 'save_list' organization_pk=organization.pk app_pk=app.pk %}",
            data: {
                'list_name': list_name,
                'fields': JSON.stringify(fields),
                'added': JSON.stringify(added),
                'removed': JSON.stringify(removed),
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {

                console.log(data)

            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));
  {% endif %}

  // Load the list fields if in list edit mode
  {% if list_id and type == 'edit-list' %}
  $( document ).ready(function(){
    $.ajax({
        url: "{% url 'list_details' organization_pk=organization.pk app_pk=app.pk list_pk=list_id %}",
        type: 'get',
        dataType: 'json',
        success: function(data){

            // Update the name of the list
            $('#list_name').val(data.name)

            // Save fields to local storage
            $.each(data.fields, function(index, field) {
              field['editMode'] = false;
            });
            localStorage.setItem('fields', JSON.stringify(data.fields))

            // Display the list
            refreshFieldDisplay()

        },
        error: function (xhr, ajaxOptions, thrownError) {
            var errorMsg = 'Ajax request failed: ' + xhr.responseText;
            console.log(errorMsg)
          }
    });
  });
  {% endif %}

  {% if list.pk %}
  (function($) {
    $('#add-record').on('click', function(e) {
        e.preventDefault();

        // Get the values from the form
        var field_values = [];
        $(".record-field").each(function(){
         var id = $(this).attr('id').replace("field_","");
         var val = $(this).val();
         field = {}
         field['fieldId'] = id;
         field['fieldValue'] = val;
         field_values.push(field);
        });

        $.ajax({
          type: "POST",
          dataType: 'json',
          url: "{% url 'save_record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk %}",
            data: {
                {% if record %}'record_id': {{ record.id }},{% endif %}
                'field_values': JSON.stringify(field_values),
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {

                console.log(data)

            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
  }(jQuery));
  {% endif %}

</script>

{% endblock %}
